.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #cfd8dc;
  font-size: 1.25vw;
}

@media screen and (max-width: 600px) {
  .main-nav {
    font-size: 10px
  }
}

a {
  font-weight: bolder;
  text-decoration: none;
}

.article-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.comments-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 800px
}

.topic-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 0;
}

.article {
  height:auto;
  width: auto;
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
  border: solid;
  border-color: palegreen;
  background-color: rgb(177,204,116);
}

.comment {
  height:auto;
  width: 100%;
  max-width: 600px;
  margin: 1em 0;
  border-radius: 5px;
  border: solid;
  border-color: darkmagenta;
  background-color: powderblue;
  box-sizing: border-box;
}

.topic {
  height:auto;
  width: 90%;
  max-width: 600px;
  margin: 1em 0;
  border-radius: 5px;
  border: solid;
  border-color: darkmagenta;
  background-color: powderblue;
  box-sizing: border-box;
  text-align: center;
  min-height: 100px;
  min-width: 100px
}

.article-img {
  max-width: 95%;
  object-fit: cover;
  border-radius: 5px;
}

.thumbnail-img {
  width: 50vw;
  object-fit: cover;
  border-radius: 5px;
}