.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #cfd8dc;
}

.topic-nav {
  display: flex; 
  justify-content: space-evenly;
  background-color: rgb(113,166,210)
}

.link {
  /* background: violet  */
}

.article-list {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.article {
  list-style: none;
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
  border: solid;
  border-color: palegreen;
  background-color: rgb(177,204,116);
}

/* #articleImg{

  max-width: 75%;
} */