.main-nav {
  display: flex;
  padding: 4px;
  justify-content: space-between;
	border-radius: 6px;
	background-image: linear-gradient(
		#8321c4 13%,
		#5e168e 40%,
		#3e0962 86%
	);
	color: transparent;
	text-shadow: 0 -2px 0 black;
	cursor: pointer;
	box-shadow: 1px 2px 4px rgb(20, 20, 20), 0 4px 12px rgb(10, 10, 10);
  font-size: 1.25vw;
}

.nav-item {
  display: flex;
	color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 600px) {
  .main-nav {
    font-size: 10px
  }
}

.article-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.comments-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 800px
}

.topic-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 0;
}

.article {
  display: flex;
  flex-direction: column;
  height:auto;
  width: auto;
  margin-top: 0.5rem;
  padding: 0.25em;
  border-radius: 5px;
  border: solid;
  border-color: palegreen;
  background-color: rgb(177,204,116);
}

.comment {
  height:auto;
  width: 100%;
  max-width: 600px;
  margin: 1em 0;
  border-radius: 5px;
  border: solid;
  border-color: darkmagenta;
  background-color: powderblue;
  box-sizing: border-box;
}

.topic {
  height:auto;
  width: 90%;
  max-width: 600px;
  margin: 1em 0;
  border-radius: 5px;
  border: solid;
  border-color: darkmagenta;
  background-color: powderblue;
  box-sizing: border-box;
  text-align: center;
  min-height: 100px;
  min-width: 100px
}

.article-header {
  /* display: flex;
  flex-wrap: wrap; */
  align-items: center;
  margin-bottom: 1rem;
}

.article-img {
  max-width: 600px;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  margin: 0 auto;
}

.thumbnail-img {
  width: 50vw;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  margin: 0 auto;
}