@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Raleway:wght@700&display=swap");

body {
  background-color: rgb(247, 201, 182);
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: navy;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-style: oblique;
  font-weight: 600;
}

h2 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

h4 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
}

p {
  margin: 5px 2px 5px 2px;
  font-size: 0.75rem;
}

ul {
  list-style: none;
  display: block;
}

li {
  display: block;
}

a {
  font-weight: bolder;
  text-decoration: none;
}

form {
  background-color: rgb(103, 207, 198);
  border: solid navy;
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 1em;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  box-sizing: border-box;
}

select {
  background-color: white;
  border: thin solid navy;
  border-radius: 4px;
  display: inline-block;
  line-height: 1em;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
#comment-button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1em;
  list-style: none;
  margin: 0;
  padding: 5px 10px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  touch-action: manipulation;
}

button:hover,
#comment-button:hover {
  background-color: rgba(51, 51, 51, 0.1);
  transform: scale(1.05);
}

label {
  font-style: italic;
  margin: 0 0 1rem 0;
}

textarea {
  resize: vertical;
  box-sizing: border-box;
}

input, textarea, select, label {
  font-family: inherit;
}
