@media screen and (min-width: 1201px) {
    .topic-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (max-width: 1200px) and (min-width: 769px) {
    .topic-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 768px) {
    .topic-list {
      grid-template-columns: 1fr;
    }
  }